{% extends "base.html" %}
{% block title %}Decrypt - Django Steg{% endblock title %}
{% block nav_links %}
  <a href="{% url 'index' %}" class="text-blue-600 hover:underline">Home</a>
  <a href="{% url 'encrypt' %}" class="text-blue-600 hover:underline">Encrypt</a>
  <a href="{% url 'decrypt-list' %}" class="text-blue-600 hover:underline">Decrypt</a>
  <a href="{% url 'shared-gallery' %}" class="text-blue-600 hover:underline">Shared Gallery</a>
  <a href="{% url 'logout' %}" class="text-blue-600 hover:underline">Logout</a>
{% endblock nav_links %}

{% block content %}
<div class="bg-white rounded shadow p-6 my-4">
  <h3 class="text-xl font-semibold mb-4">Decryptable Images</h3>
  <ul class="list-disc list-inside">
    {% for img in images %}
    <li class="my-2">
      #{{ img.id }}
      <a href="{% url 'decrypt-detail' img.id %}" class="text-blue-600 hover:underline ml-2">Decrypt</a>
      |
      <a href="{% url 'download-stego' img.id %}" class="text-blue-600 hover:underline">Download</a>
    </li>
    {% empty %}
    <li>No decryptable images available.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
