{% extends 'core/base.html' %}
{% block content %}
<h3>Welcome {% if user.is_authenticated %}{{ user.username }}{% endif %}</h3>

{% if user.is_authenticated %}
  <p>Your images:</p>
  <ul>
    {% for img in images %}
      <li>
        #{{ img.id }} - 
        {% if img.is_public %}[Public] {% endif %}
        <a href="{% url 'decrypt-detail' img.id %}">Decrypt</a> | 
        <a href="{% url 'share-image' img.id %}">Share</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>.</p>
{% endif %}
{% endblock %}
